*, ::before, ::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    --color-primary: #37474f;
    --color-primary-dark: #263238;
    --color-primary-light: #546e7a;
    --color-primary-lighter: #b0bec5;
    --text-color: #fafafa;
    --link-color: #444444;
    --border-color: rgba(176,190,197,0.5);
    --shadow-color: rgba(0,0,0,0.2);
    --shadow-color-dark: rgba(0,0,0,0.25);
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    user-select: none;
}

.search {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 2rem;
}

.search__form {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-shadow: 0 4px 8px var(--shadow-color);
    background-color: var(--color-primary-dark);
    border: 1px solid var(--color-primary);
    width: 30rem;
    cursor: auto;
    padding: 2rem;
    height: 2rem;
    outline: none;
    border-radius: 10rem;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.search__button {
    line-height: 1;
    pointer-events: auto;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
}

.search__input {
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    background-color: transparent;
    width: 100%;
    margin-left: 1rem;
    color: var(--text-color);
    border: none;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding: 2rem;
    margin-top: 4rem;
    color: var(--color-primary-dark);
    border-right: 1px solid var(--border-color);
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--color-primary-dark);
    letter-spacing: -0.5px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.sidebar__title {
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin: 0px 0px 1rem 1rem;
}

.sidebar__title:not(:first-child) {
    margin-top: 4rem;
}

.genre {
    text-decoration: none;
    display: block;
    outline: none;
    margin-bottom: 0.5rem;
}

.genre__item {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    opacity: 0.6;
    color: var(--color-primary-light);
    border: 1px solid transparent;
    border-radius: 2rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 100ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.genre__item:hover {
    opacity: 1;
    color: var(--color-primary-dark);
    border: 1px solid;
    text-decoration: none;
}

.content {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 6rem 4rem;
}

.content__inner {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.content__title {
    margin-bottom: 2rem;
}

.content__title h1 {
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1;
    color: var(--color-primary-dark);
    letter-spacing: -0.5px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.content__title h2 {
    text-transform: uppercase;
    line-height: 1;
    color: var(--color-primary);
    font-size: 1.2rem;
    font-weight: 700;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));
    place-content: space-between space-evenly;
    -webkit-box-align: start;
    align-items: start;
    padding: 4rem 0px;
    gap: 4rem 2rem;
}

.movie {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: transparent;
    border-radius: 0.8rem;
    position: relative;
    transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.movie__poster {
    width: 100%;
    height: 38rem;
    object-fit: cover;
    border-radius: 0.8rem;
    box-shadow: 0rem 2rem 5rem var(--shadow-color);
    transition: all 100ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.movie__info {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 1.5rem 3rem;
}

.movie__title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--color-primary-light);
    margin-bottom: 1rem;
    line-height: 1.4;
    transition: color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.movie__genre {
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-primary-lighter);
    font-size: 1.3rem;
}

.movie__btn {
    background: transparent;
    padding: 1rem 2rem;
    color: var(--color-primary-lighter);
    border: 1px solid;
    border-radius: 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.movie__btn:hover {
    color: var(--color-primary-dark);
    background: #fff;
}

.movie:hover {
    transform: scale(1.03);
}

.movie:hover .movie__poster {
    border-radius: 0.8rem 0.8rem 0rem 0rem;
    box-shadow: none;
}

.movie:hover::after {
    transform: scaleY(1);
    opacity: 1;
}

.movie::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    transform: scaleY(0);
    transform-origin: center top;
    opacity: 0;
    background-color: var(--color-primary);
    z-index: -99;
    box-shadow: 0rem 2rem 5rem var(--shadow-color-dark);
    transition: all 100ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.movie:hover .movie__title {
    color: var(--text-color);
}

.watchlist {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-shadow: 0 4px 8px var(--shadow-color);
    background-color: var(--color-primary-dark);
    border: 1px solid var(--color-primary);
    width: 2rem;
    cursor: pointer;
    padding: 2rem;
    height: 2rem;
    outline: none;
    border-radius: 10rem;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.btn-back {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    padding: 1.2rem 3rem;
    line-height: 1;
    font-weight: 500;
    font-size: 1.3rem;
    width: 100px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    color: var(--text-color);
    border: 1px solid transparent;
    background-color: var(--color-primary-dark);
    border-radius: 5rem;
    box-shadow: 0 1rem 5rem var(--shadow-color);
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-14 {
    width: 0.875em;
}

.fa-1x {
    font-size: 1em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

@media only screen and (max-width: 97em) {
    html {
        font-size: 57.5%;
    }

}

@media only screen and (max-width: 80em) {
    html {
        font-size: 55%;
    }
}